#raiseBreak,#lowerBreak,#raiseSession, #lowerSession,#sessionField, #breakField{
  font-size: 2rem;
  vertical-align: middle;
}

#displaySeconds, #displayMinutes{
  font-size: 5rem;
}

.timer {
  border-radius: 25px;

}

#start, #reset, #pause {
  height: 6rem;
}

@media (max-width: 425px) {
  .bottom-margin{
    margin-bottom: 1em;
  }
}
